@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}






<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title"><strong>Chat</strong></h4>
                        <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a>
                    </div>


                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">


                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div>
                    </div>

                    <div class="publisher bt-1 border-light">
                        <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                        <input class="publisher-input" type="text" placeholder="Write something" id="Message">
                        <input hidden id="RoomId">

                        <button class="btn btn-success" onclick="SendChats()">Send</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger
        AdminChat();
    });
    function AdminChat() {
        debugger
        var token = sessionStorage.getItem('Token');
        if (token == null) {
            var id = localStorage.getItem('GuestId');

        }
        $.ajax({
            headers: {
                Authorization: `Bearer ` + token
            },
            url: '/Daraz/AdminChat?id=' + id,
            success: function (response) {
                var data = '';
                $("#RoomId").val(response.RoomId);
                $.each(response.RoomChat, function (key, obj) {
                    data += (obj.CreaterId == response.Id) ? "<div class='direct-chat-msg right'><div class='direct-chat-info clearfix'><span class='direct-chat-timestamp pull-left'>" + (formatDate(obj.CreatedDate)) + "</span></div><div class='direct-chat-text'>" + obj.Comment + "</div></div>" : "<div class='direct-chat-msg left'><div class='direct-chat-info clearfix'><span class='direct-chat-timestamp pull-right'>" + (formatDate(obj.CreatedDate)) + "</span></div><div class='direct-chat-text'>" + obj.Comment + "</div></div>";

                });
                $("#chat-content").append(data);
            }
        });
    }
    function SendChats() {
        debugger
        var token = sessionStorage.getItem('Token');
        if (token == null) {
            var id = localStorage.getItem('GuestId');

        }
        var data = new FormData;
        data.append("Token", token);
        data.append("GuestId", id);
        data.append("RoomId", $("#RoomId").val());
        data.append("Comment", $("#Message").val());
        $.ajax({
            headers: {
                Authorization: `Bearer ` + token
            },
            type: 'POST',
            async: true,
            data: data,
            url: '/Daraz/NewMessagetoAdmin',
            processData: false,
            contentType: false,
            success: function (response) {
                debugger
                $("#Message").val('');
                console.log(response);
                debugger
                if (response.GuestId != 0) {
                    localStorage.setItem('GuestId', response.GuestId);
                    var data = '';
                    $.each(response.RoomChat, function (key, obj) {
                        data += (obj.CreaterId == response.GuestId) ? "<div class='direct-chat-msg right'><div class='direct-chat-info clearfix'><span class='direct-chat-timestamp pull-left'>" + (formatDate(obj.CreatedDate)) + "</span></div><div class='direct-chat-text'>" + obj.Comment + "</div></div>" : "<div class='direct-chat-msg left'><div class='direct-chat-info clearfix'><span class='direct-chat-timestamp pull-right'>" + (formatDate(obj.CreatedDate)) + "</span></div><div class='direct-chat-text'>" + obj.Comment + "</div></div>";

                    });
                    $("#chat-content").empty();
                    $("#chat-content").append(data);
                }else{

                    var data = '';
                    $.each(response.RoomChat, function (key, obj) {
                        data += (obj.CreaterId == response.Id) ? "<div class='direct-chat-msg right'><div class='direct-chat-info clearfix'><span class='direct-chat-timestamp pull-left'>" + (formatDate(obj.CreatedDate)) + "</span></div><div class='direct-chat-text'>" + obj.Comment + "</div></div>" : "<div class='direct-chat-msg left'><div class='direct-chat-info clearfix'><span class='direct-chat-timestamp pull-right'>" + (formatDate(obj.CreatedDate)) + "</span></div><div class='direct-chat-text'>" + obj.Comment + "</div></div>";

                    });
                    $("#chat-content").empty();
                    $("#chat-content").append(data);
                }
            }
        });
    }
    function formatDate(createdDate) {
        var d = new Date(createdDate),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    };
</script>