@model EComraceWab.Models.HomeView

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}




<!-- ================ SECTION INTRO ================ -->
@*<section id="testimonials" class="testimonials">
    <div class="container position-relative" data-aos="fade-up">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/images/beauty.png" />
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/images/beauty.png" />
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/images/chairrr.jpg" />
                        <img src="assets/img/AJC.png" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->*@
<section class="section-intro pt-3">
    <div class="container">

        <div class="row gx-3">
            <main class="col-lg-9">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/tesse.jpg" class="d-block w-100" height="400" alt="..." />
                        </div>
                        <div class="carousel-item">
                             <img src="~/images/zxzx.png" class="d-block w-100" height="400" alt="..."/>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/wewe.png" class="d-block w-100" height="400" alt="..."/>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/watchss.jpg" class="d-block w-100" height="400" alt="..."/>
                        </div> 
                        <div class="carousel-item">
                            <img src="~/images/sasa.png" class="d-block w-100" height="400" alt="..."/>
                        </div> 
                        <div class="carousel-item">
                            <img src="~/images/watchqq.jpg" class="d-block w-100" height="400" alt="..."/>
                        </div> 
                        <div class="carousel-item">
                            <img src="~/images/xr.png" class="d-block w-100" height="400" alt="..."/>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </main>
            <aside class="col-lg-3">
                <article class="card-banner h-100" style="background-color: var(--bs-warning)">
                    <div class="card-body text-center">
                        <h5 class="mt-3 text-white">Amazing Gifts</h5>
                        <p class="text-white">No matter how far along you are in your sophistication</p>
                        <a href="#" class="btn btn-outline-light"> View more </a>
                    </div>
                </article>
            </aside>
        </div> <!-- row //end -->

    </div> <!-- container end.// -->
</section>
<!-- ================ SECTION INTRO END.// ================ -->
<!-- ================ SECTION CATEGORY ================ -->

<section class="padding-top">
    <div class="container">

        <nav class="row gy-4 row-cols-xl-8 row-cols-sm-4 row-cols-3" id="Catagereis">
        </nav>
    </div>
</section>
<!-- ================ SECTION CATEGORY END.// ================ -->
<!-- ================ SECTION PRODUCTS ================ -->
<section class="padding-y">
    <div class="container">
        <header class="section-heading">
            <h3 class="section-title"> products</h3>
        </header>

        <div class="row" id="Products">
        </div> <!-- row end.// -->

    </div> <!-- container end.// -->
</section>
<div class="modal fade modal" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type='button' class='btn-close' aria-label='Close' onclick="HideModalPopUp();" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div>

                    <figure class="itemside mb-3">

                        <div class="aside" id="Image">
                        </div>

                        <figcaption class="info">
                            <p class="title" id="name">  </p>
                            <span class="bi bi-star" name="Stars" aria-hidden="true" value="1" id="st1" ></span>
                            <span class="bi bi-star" name="Stars" aria-hidden="true"  value="2"  id="st2" ></span>
                            <span class="bi bi-star" name="Stars" aria-hidden="true" value="3" id="st3" ></span>
                            <span class="bi bi-star" name="Stars" aria-hidden="true" value="4" id="st4" ></span>
                            <span class="bi bi-star" name="Stars" aria-hidden="true" value="5" id="st5" ></span>
                        </figcaption>
                    </figure>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" id="Comment" name="" placeholder="Enter Your Comment" value="">
                    <input class="form-control" id="ProductId" hidden >
                </div>
                 <div class="form-group">
                        <input type="file" class="btn btn-primary" id="Images" multiple="multiple" name="images" onchange="UplodImage(this)" required />
                        <div id="image1">
                        </div>
                        <div class="form-group">
                            <input type="text" id="imagesId" hidden class="form-control" disabled="disabled" />
                        </div>
                        <img id="Image1" src="" alt="" />
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="Reviewdata()" class="btn btn-primary btn-user btn-block">
                    Submit
                </button>
                <input type="text" hidden id="Ratings"/>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal " id="error">
    <div class="modal-dialog row no-gutters col-lg-2 col-md-12 ml-auto">
        <div class="modal-content ">
                <div class="alert alert-warning shadow my-3" role="alert" style="border-radius: 3px">
                    <div class="text-center">
                        <svg width="3em" height="3em" viewBox="0 0 16 16" class="m-1 bi bi-cone-striped" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.97 4.88l.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z" />
                        </svg>
                    </div>
                    <p style="font-size:18px" class="mb-0 font-weight-light"><b class="mr-1">Warning:</b>Please Login Account.</p>
                </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#error').modal('hide');
        debugger
        Data();
        Review();
        $("#st1").click(function () {
            $(".bi-star").css("color", "black");
            $("#st1").css("color", "yellow");
            $('#Ratings').val(1);
        });
        $("#st2").click(function () {
            $(".bi-star").css("color", "black");
            $("#st1, #st2").css("color", "yellow");
             $('#Ratings').val(2);
        });
        $("#st3").click(function () {
            $(".bi-star").css("color", "black")
            $("#st1, #st2, #st3").css("color", "yellow");
            $('#Ratings').val(3);
        });
        $("#st4").click(function () {
            $(".bi-star").css("color", "black");
            $("#st1, #st2, #st3, #st4").css("color", "yellow");
            $('#Ratings').val(4);
        });
        $("#st5").click(function () {
            $(".bi-star").css("color", "black");
            $("#st1, #st2, #st3, #st4, #st5").css("color", "yellow");
             $('#Ratings').val(5);
        });
             //$('#Modal').modal('hide');
       
    });
  
    //var myCarousel = document.querySelector('#myCarousel')
    //var carousel = new bootstrap.Carousel(myCarousel)
    //var myCarousel = document.querySelector('#myCarousel')
    //var carousel = new bootstrap.Carousel(myCarousel, {
    //    interval: 2000,
    //    wrap: false
    //})
    //var myCarousel = document.getElementById('myCarousel')

    //myCarousel.addEventListener('slide.bs.carousel', function () {
    //    // do something...
    //})
    function HideModalPopUp() {
        $('#LoginModal').modal('hide');
    }
    function Data() {
        var token = sessionStorage.getItem('Token');
        $.ajax({
            type: "Get",
            headers: {
                Authorization: 'Bearer ' + token
            },
            url: '/Daraz/HomeData',
            success: function (result) {
                console.log(result);
                var Catagery = '';
                var items = '';
                var MiliSeconds = 2.592e+8;
                var date = new Date;
                $.each(result.Categories, function (key, obj) {
                    Catagery += '<div class="col" >';
                    Catagery += "<a href='/Daraz/SubCategoryOrProduct?Id=" + obj.Id + "' class='item-link text-center' >";
                    Catagery += '<span class="icon mb-2 icon-md rounded" >';
                    Catagery += "<img width='32' height = '32' src=" + obj.Image + ">";
                    Catagery += '</span>';
                    Catagery += "<span class='text' >" + obj.Name + "</span>";
                    Catagery += '</a>';
                    Catagery += '</div>';
                });
                $("#Catagereis").append(Catagery);
                $.each(result.StoreResponses, function (key, obj) {
                    console.log(obj);
                 //   if(obj.Variaction !=null){
                  for (let x in obj.product) {
                    items += ' <div class="col-lg-3 col-md-6 col-sm-6" >';
                    items += '<figure class="card-product-grid" >';
                        items += ((date - (new Date(obj.product[x].CreatedDate))) <= MiliSeconds) ? ' <a href="/Daraz/ProductDetail?Id=' + obj.product[x].Id + '" class="img-wrap rounded bg-gray-light"><p class="topbar"><span class="badge bg-danger"> New</span></p><img height="250" class= "mix-blend-multiply" src = "' + obj.product[x].Image + '" ></a> ' : ' <a href="/Daraz/ProductDetail?Id=' + obj.product[x].Id + '" class="img-wrap rounded bg-gray-light"><img height="250" class= "mix-blend-multiply" src = "' + obj.product[x].Image + '" ></a>';
                    items += '<figcaption class="info-wrap border-top" >';
                        items += "<a   class='float-end btn btn-light btn-icon'onclick='Wishlist(" + obj.product[x].Id + ")' ><i class='bi bi-heart'></i> </a>";
                    items += '<div class="price-wrap" >';
                        items += "<span class='price' style ='color:red;' >Rs:" + obj.product[x].Variaction.Inventrys.Price + "</span>";
                    items += '</div>';
                    items += "<p class='title mb-2'>" + obj.product[x].Name + "</p>";
                    items += '</figcaption>';
                    items += '</figure>';
                    items += '</div>';
                  }
                });
                $("#Products").append(items);

            }


        });
    }
    function Wishlist(id) {
        debugger
        var token = sessionStorage.getItem('Token');
        $.ajax({
            type: "Get",
            headers: {
                Authorization: 'Bearer ' + token
            },
            url: '/Daraz/Wishlist?id=' + id,
            success: function (result) {
            },
             error: function () {
                $('#error').modal('show');
                 $("#error").fadeTo(2000, 500).slideUp(500, function() {
                  $("#error").slideUp(500);
                    $('#error').modal('hide');
                 });
            },
        });
    }
    function Categoryes(id) {
        debugger
        var token = sessionStorage.getItem('Token');
        $.ajax({
            type: "Get",
            headers: {
                Authorization: 'Bearer ' + token
            },
            url: '/Daraz/SubCategoryOrProduct?id=' + id,
            success: function (response) {
                debugger
                console.log(response);
            }
        });
    }
    function Review() {
        debugger
        let url_str = window.location.href;
        let url = new URL(url_str);
        let search_params = url.searchParams;

        let id = search_params.get('Id');
        var token = sessionStorage.getItem('Token');
        $.ajax({
            type: "Get",
            headers: {
                Authorization: 'Bearer ' + token
            },
            url: '/Daraz/Review?id=' + id,
            success: function (response) {
                debugger
                console.log(response);
                if(response != null){
                $('#Modal').modal('show');
                $("#Image").append(" <img width='72' height='72' src=" + response.Image + " class='img - sm rounded border'/>");
                $("#name").append(response.Name);
                $("#ProductId").val(response.Id);
                }
            }
        });
    }
    function Reviewdata() {
        debugger
        var files = $("#Images").get(0).files;
        var data = new FormData;
        data.append("Comment", $("#Comment").val());
        data.append("Ratings", $("#Ratings").val());
        data.append("ProductId", $("#ProductId").val());
        for (var i = 0; i < files.length; i++) {
            data.append("Images", files[i]);
        }
        console.log(data);
        var token = sessionStorage.getItem('Token');
        $.ajax({
            type: "post",
            headers: {
                Authorization: 'Bearer ' + token
            },
            async: true,
            data: data,
            url: '/Daraz/ReviewData',
            processData: false,
            contentType: false,
            success: function (response) {
                window.location.href = '/Daraz/Home';
            }
        });
    
    
    }
    function UplodImage(input) {
        debugger
        $("#image1").hide();
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (element) {
                $("#Image1").attr("src", element.target.result).width(60).height(60);
                console.log(element);

            };
            reader.readAsDataURL(input.files[0]);
            $("#Image").show();
        };
    };
</script>

